<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Socket.io trivia</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/src/static/js/socketio.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/static/style/trivia/style.css"/>

    <script>
        var store = {
          topic: {},
          game: {},
          over: {},

        };

        app_pages = {
            topics:  {},
            entering: {},
            searching: {},
            playing: {},
            results: {},
            disconnected: {},
            showover: {},
            no_question: {},
            showerror: {}
        }

        document.addEventListener('DOMContentLoaded', function () {

        app = new socketio({
          store: store,
          container: "#app",
          pages: app_pages,
          url: window.location.origin + window.location.pathname
        });

        app.on("connect", null, ()=> {
            app.emit("get_topics")
        })

        Handlebars.registerHelper("incremented", function (index) {
            return index + 1;
        });


        // Когда загружены темы, переходим на страницу выбора темы
        app.on("topics", "#topics", (data)=>{app.store.topics=data})

        // Когда игра пришла, обновляем ее
        app.on("game", null, (data)=> {


            if (app.store.game.question_count && app.store.game.question_count != data.question_count) {
               // Если пришел новый вопрос показать сперва ответ, затем обновить вопрос
               app.run("feedback", app.store.game.answer)
               setTimeout( () => { app.store.game = data; app.go("playing")  }, 3000)
            } else {
               // если нет - сразу показать
               app.store.game = data; app.go("playing")
            }

        })



        app.addHandler("feedback", (data)=> {
            console.log(data)
            index = data - 1
            console.log(data)
            console.log(`Выделяем правильный ответ ${index}`)
            option_element = document.querySelectorAll(".questions_option")[index]
            option_element.classList.add("correct_option")
        })

        // Обрабатываем нажатие назад
        app.addHandler("back", ()=> {

            if(app.store.topic.hasOwnProperty("pk")){
                app.emit("release_queue", {topic_pk: app.store.topic.pk, name: playerName})
            }
            setTimeout( () => { app.emit("get_topics") }, 500)
        })

        // Клиент выбирает тему
        app.addHandler("pick_topic", (topic)=> {
            app.store.topic = topic
            console.log(app.store.topic)
            app.go("entering")
        })

        // Клиент присоединяется к игре
        app.addHandler("join", ()=> {
             playerName = document.getElementById("player_name").value
             app.emit("join_game", {topic_pk: app.store.topic.pk, name: playerName})
             app.go("searching")
        } )

        // Обработка ответов
        app.addHandler("answer", (index)=> {
            app.emit("answer", {index: index + 1, game_uid: app.store.game.uid})
            console.log(`Выделяем наш ответ ${index + 1}`)
            option_element = document.querySelectorAll(".questions_option")[index]
            option_element.classList.add("selected_option");
        })

        app.on("over", null, (data) => {
            console.log(data)
            app.run("feedback", app.store.game.answer)
            setTimeout( () => { app.store.over = data; app.go("showover") }, 3000)

            app.store = {
                          topic: {},
                          game: {},
                          over: {},
                        }

            console.log(app.store)

        })

        app.on("disconnect", "#disconnect")


        app.on("no_question", null, (data) => {
            app.go("no_question");
            app.store = {
                          topic: {},
                          game: {},
                          over: {},
                        }

            console.log(app.store)
        })

        app.on("error", "#showerror", (data) => {
           app.store.error = data.error
        })

        app.on("disconnect", "#disconnect")


    })
    </script>
</head>
<body>

<main>
    <div class="container">
        <section class="screen active card" id="app">
            Загружаем
        </section>
    </div>
</main>

<template id="disconnect">
    <h1>Соединение с сервером потеряно, приложение пытается восстановить связь</h1>
</template>

<template id="topics">
    <h1 class="center">Айтишная викторина</h1>
    <p class="center">Выберите тему и соревнуйтесь с другими участниками, кто лучше знает базу.</p>
    <p class="center">Выберите тему</p>
    <div class="topics">
        {{#each topics}}
        <div class="alert mb" onclick="app.run('pick_topic', { pk: {{this.pk}}, name: '{{this.name}}' } )">
            <span class="name">{{this.name}}</span>
            {{#if this.has_players}}
            <span class="status pull-right">есть пара</span>
            {{/if}}
        </div>
        {{/each}}
    </div>
</template>

<template id="entering">
    <span class="back-link block mb" onclick="app.run('back')">назад</span>
    <div class="alert mb">Тема: {{ topic.name }}</div>
    <h2 class="center">Как вас представить?</h2>
    <input class="alert block mb" type="text" id="player_name" placeholder="Например, Алиса">
    <button class="tappable block" onclick="app.run('join')">Подключиться к комнате</button>
</template>

<template id="searching">
    <span class="back-link" onclick="app.run('back')">назад</span>
    <h2 class="center">Идет поиск партнера для игры</h2>
</template>

<template id="playing">
    <div class="row">
        {{#each game.players}}
        <div class="player_widget grow">
            {{this.name}}:
            <b>{{this.score}}</b>
        </div>
        {{/each}}
    </div>
    <p>Осталось вопросов: {{game.question_count}}. </p>

    <div class="card alert mb">
        {{game.current_question.text}}
    </div>

    <div id="questions_list">
        {{#each game.current_question.options}}
        <div class="alert info questions_option mb" onclick="app.run('answer',{{@index}})">{{incremented @index}}
            {{this}}
        </div>
        {{/each}}
    </div>

</template>

<template id="showover">
    <p>Игра завершена</p>
    <p class="alert">
    <div class="row">
        {{#each over.players}}
        <div class="player_widget grow">
            {{this.name}}:
            <b>{{this.score}}</b>
        </div>
        {{/each}}
    </div>
    </p>
    <button class="tappable block" onclick="app.run('back')">Вернуться к выбору топиков</button>
</template>

<template id="no_question">
    <span class="back-link block mb" onclick="app.run('back')">назад</span>
    <p>По данной теме нет вопросов</p>
    <button class="tappable block" onclick="app.run('back')">Вернуться к выбору топиков</button>
</template>

<template id="showerror">
    <span class="back-link block mb" onclick="app.run('back')">назад</span>
    <div class="limit"><p>Ошибка: {{error}}</p></div>
    <button class="tappable block" onclick="app.run('back')">Вернуться к выбору топиков</button>
</template>

</body>
</html>
